<div class="user_form_page row">
<div class="form-label col-sm-6 col-xs-2"><%= f.label :phone_number %></div>
<div class="col-sm-6 col-xs-10">
<%= f.text_field :phone_number, class: "form-control" %></div></div>
<div class="user_form_page row">
<div class="form-label col-sm-6 col-xs-2"><%= f.label :class_year %></div>
<div class="col-sm-6 col-xs-10">
  <%= f.select :class_year, User::CLASS_YEARS, {include_blank: true}, class: "form-control" %></div></div>
<div class="user_form_page row">
<div class="form-label col-sm-6 col-xs-2"><%= f.label :concentration %></div>
<div class="col-sm-6 col-xs-10">
  <%= f.text_field :concentration, class: "form-control" %></div>
</div>
<div class="user_form_page row">
<div class="col-sm-12">
<h2>Interests</h2>
<div><%= f.text_field :interest_one, class: "form-control interest-field" %></div>
<div><%= f.text_field :interest_two, class: "form-control interest-field" %></div>
<div><%= f.text_field :interest_three, class: "form-control interest-field" %></div>
</div>
</div>
