<p>Your profile | <%= link_to "edit", edit_user_registration_path %></p>
<h2>Name: <%= @user.first_name %> <%= @user.last_name %> </h2>
<p>Concentration: <%= @user.concentration %> </p>
<p>Year: <%= @user.class_year %> </p>
<p>Phone number: <%= @user.phone_number_pretty %> </p>

<% if @user.all_interests.present? %>
  <h3>Interests</h3>
  <% @user.all_interests.each do |interest| %>
    <p><%= interest %></p>
  <% end %>
<% else %>
  <div>You haven't added any interests! <%= link_to "Edit your profile!", edit_user_registration_path %></div>
<% end %>

<h3>Hangs on the agenda</h3>
<% if @user.upcoming_events.present? %>
  <% @user.upcoming_events.each do |event| %>
    <%= link_to event_path(event) do %>
    <p><%= event.start_time_name %> at <%= event.location.name %>:
    <%= event.event_description(current_user) %></p>
    <% end %>
  <% end %>
<% else %>
  <div>No upcoming plans</div>
<% end %>
