<div class="event-box">
  <p><%= event.start_time_name %> until <%= event.end_time_name %></p>
  <h4><%= link_to event_path(event) do %>
    <%= event.event_description(current_user).capitalize %>
    <% if current_page?(profile_path) %>
      at <%= event.location.name %>
    <% end %>
  <% end %></h4>
</div>
