<%= render 'events/single', event: @event %>
<p><%= @event.users.count %> <%= @event.users.count == 1 ? "person" : "people" %> hanging out</p>

<%= form_for [@event, @rsvp] do |f| %>
  <div class="field">
  <%= f.label :expected_arrival, "I'll be there at" %>
  <%= f.text_field :expected_arrival %>
  </div>

  <%= render 'outfit_picker', f: f %>

  <%= f.submit "join" %>
<% end %>
