<p>
You're hanging with <%= @event.host.first_name %> at <%= @event.location.name %> today at <%= @rsvp.arrival_time_name %>. <%= @event.host.first_name %> will be wearing a <%= @event.host.rsvps.select{ |rsvp| rsvp.event == @event }.first.outfit %>.
</p>
