<div class="row location-header" style="background: url(<%= image_path @location.url %>); background-size: cover; background-position-y: 50%;">
</div>
<h1><%= @location.name %></h1>
<p><%= @location.description %></p>
<h3>right now</h3>
<% if @current_events.present? %>
  <% @current_events.each do |event| %>
    <%= render 'events/single', event: event %>
  <% end %>
<% else %>
  <p>No one is hanging here right now. <%= link_to "Start hanging!", new_event_path %></p>
<% end %>
<% if @future_events.present? %>
<h3>later today</h3>
  <% @future_events.each do |event| %>
    <%= render 'events/single', event: event %>
  <% end %>
<% end %>
