<h3>right now</h3>
<% @current_events.each do |event| %>
  <p><%= event.host.first_name %> <%= event.host.last_name %> wants to talk about <%= event.topic %> until <%= event.end_time %>  </p>
<% end %>

<h3>later today</h3>
<% @future_events.each do |event| %>
  <p><%= event.host.first_name %> <%= event.host.last_name %> wants to talk about <%= event.topic %> from <%= event.start_time %> until <%= event.end_time %> </p>
<% end %>
