<!DOCTYPE html>
<html lang="en">
<head>
  <title>hang@brown</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container main">
    <%= render 'shared/nav_bar' %>

    <div class="container content">

      <% if flash[:notice].present? %>
        <p class="alert alert-success"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert].present? %>
        <p class="alert"><%= flash[:alert] %></p>
      <% end %>

      <%= yield %>

    </div>

  </div>
</body>
</html>
